.searchbar {

   max-width: 100%;
   padding: 15px 0;
   background-color: #4354b0;

   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   position: relative;

}

.input {
   display: inline-block;
   width: 500px;
   height: 32px;
   padding: 4px 16px 4px 32px;

}

.input:focus {
   font-family: inherit;
   font-weight: 400;
   color: #212529;
   background-color: #fff;
   border-color: #bdbdbd;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button {
   position: absolute;
   top: 0;
   left: 0;

   display: block;
   width: 32px;
   height: 32px;
   border: none;
   outline: none;

   background-color: transparent;
   cursor: pointer;

   color: #bdbdbd;
   transition: color 0.15s ease-in-out;


}

.button:hover {
   color: #212529;
}